<header>
    <div class="container">
        <nav class="menu">
            <a routerLink="/"><img src="assets/WebLogo.png" ></a>
            <button type="button" class="btn btn-danger" routerLink="/Plan_De_Entrenamiento" *ngIf="user$ | async as user">Hola {{name}}</button>
            <button type="button" class="btn btn-danger" routerLink="/Iniciar_Sesion" *ngIf="!isLogged">Iniciar Sesión</button>
        </nav>
        
        <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="separator">Crear Cuenta</div>
            <input type="text" placeholder="Introduzca su nombre *" formControlName="name" maxlength="25">

            <div *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].dirty" class="alert alert-danger" role="alert">
              <span *ngIf="registerForm.controls['name'].errors.required">El nombre corresponde a un campo obligatorio</span>
            </div>
            
            <input type="text" placeholder="Introduzca sus apellidos *" formControlName="surname" maxlength="50">

            <div *ngIf="registerForm.controls['surname'].invalid && registerForm.controls['surname'].dirty" class="alert alert-danger" role="alert">
              <span *ngIf="registerForm.controls['surname'].errors.required">Los apellidos corresponden a un campo obligatorio</span>
            </div>

            <input type="number" min="18" max="65" placeholder="Escoja su edad (18-65) *" formControlName="age">

            <div *ngIf="registerForm.controls['age'].invalid && registerForm.controls['age'].dirty" class="alert alert-danger" role="alert">
              <span *ngIf="registerForm.controls['age'].errors.required">La edad es un campo obligatorio</span>
              <span *ngIf="registerForm.controls['age'].errors.min || registerForm.controls['age'].errors.max">La edad debe estar comprendida entre 18 y 65 años</span>
            </div>

            <input type="email" placeholder="Introduzca su correo *" formControlName="email" maxlength="50">

            <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].dirty" class="alert alert-danger" role="alert">
              <span *ngIf="registerForm.controls['email'].errors.required">El correo electrónico corresponde a un campo obligatorio</span>
              <span *ngIf="registerForm.controls['email'].errors.pattern">El correo no es válido</span>
            </div>

            <input type="password" placeholder="Introduzca una contraseña de 8 caracteres *" formControlName="password">

            <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].dirty" class="alert alert-danger" role="alert">
              <span *ngIf="registerForm.controls['password'].errors.required">La contraseña corresponde a un campo obligatorio</span>
              <span *ngIf = "registerForm.controls['password'].hasError('minlength') || registerForm.controls['password'].hasError('maxlength')">La contraseña debe contener entre 8 y 16 caracteres</span>
            </div>                                                                          

            <input type="password" placeholder="Vuelva a introducir la misma contraseña *" formControlName="confirmPassword">

            <div *ngIf="registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].dirty" class="alert alert-danger" role="alert">
              <span *ngIf="registerForm.controls['confirmPassword'].hasError('NoPasswordMatch')">Las contraseñas no coinciden</span>
            </div>
            
            <label class="custom-radio-checkbox">
                <!-- Input oculto -->
                <input class="custom-radio-checkbox__input" type="checkbox" (change)="onCheckboxChange($event)">
                <!-- Imagen en sustitucion -->
                <span class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox"></span>
                <!-- Texto -->
                <span class="custom-radio-checkbox__text">Acepto las condiciones de uso y privacidad</span>
            </label>

            <button type="submit" class="btn btn-dark" [disabled]="(registerForm.valid && !checked) || (registerForm.invalid && checked) || (registerForm.invalid && !checked)">Registrarse</button>
            <p style="color: #8d8b8b" class="crear_cuenta">¿Ya tienes cuenta en RoutineXT? <a class="crear_cuenta" routerLink="/Iniciar_Sesion">Inicia Sesión</a></p>
            
            <img *ngIf=
            "(((registerForm.controls['name'].invalid && !registerForm.controls['name'].dirty) || (registerForm.controls['name'].valid && registerForm.controls['name'].dirty))) &&
            ((registerForm.controls['surname'].invalid && !registerForm.controls['surname'].dirty) || (registerForm.controls['surname'].valid && registerForm.controls['surname'].dirty)) &&
            ((registerForm.controls['age'].invalid && !registerForm.controls['age'].dirty) || (registerForm.controls['age'].valid && registerForm.controls['age'].dirty)) &&
            ((registerForm.controls['email'].invalid && !registerForm.controls['email'].dirty) || (registerForm.controls['email'].valid && registerForm.controls['email'].dirty)) &&
            ((registerForm.controls['password'].invalid && !registerForm.controls['password'].dirty) || (registerForm.controls['password'].valid && registerForm.controls['password'].dirty))"
            class="logo_form" src="assets/WebLogo_BigBlue.png">

        </form>
    </div>
</header>
<app-footer></app-footer>
