.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}	

header {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.7)
	  ), url('src/assets/Unregistered/stretching.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1300px;
	margin-bottom: -16px;
}

header .menu {
	margin: 70px 0;
	text-align: right;
}

header .menu img {
	float: left;
	width: 265px;
}

header .menu .btn {
	font-size: 1.1rem
}

.form {
	background: #ffffff;
    width: 650px;
    margin: 110px auto;
    padding: 60px 90px;
    border-radius: 5px;
	height: 950px;
}

/* Form Title Separator */

.form .separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #002e73;
    margin-bottom: 40px;
    font-size: 21px;
}

.form .separator::before,
.form .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #919191;;
}

.form .separator:not(:empty)::before {
    margin-right: 1.25em;
}

.form .separator:not(:empty)::after {
    margin-left: 1.25em;
}

.form input {
	width: 100%;
    padding: 4px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 1px solid #000000;
    font-size: 16px;
}

.form input:focus {
	border: 2px solid #002e73;
	outline: 0 none;
}

.custom-radio-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
}

/* Modificador para dar la imagen de checkbox */
.custom-radio-checkbox__show--checkbox {
    background-image: url(src/assets/checkbox_unchecked.png);
}

/* Oculta input original */
.custom-radio-checkbox > .custom-radio-checkbox__input {
    display: none;
}

/* Radio personalizado usando <span> */
.custom-radio-checkbox > .custom-radio-checkbox__show {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: .5rem;
    background-size: cover;
}

/* Cambia el checkbox personalizado cuando es pulsado */
.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--checkbox {
    background-image: url(src/assets/checkbox_checked.jpg);
}

.form .btn.btn-dark {
	width: 148px;
    margin: 40px 0;
    font-size: 16px;
    border-radius: 52px;
	float: right;
}

.form .btn.btn-dark:hover {
	background-color: #0d6efd;
	color: white;
}

.form a:hover {
	color: rgb(0, 0, 0) !important;
}

.form .crear_cuenta {
	text-align: center;
    margin-top: 100px;
    color: #66a4ff;
	font-size: 18px;
}

.form .logo_form {
	margin: 40px 110px;
	width: 250px;
}

.separation_line {
	height: 12px;
	background-color:  rgb(27 27 27);
	padding-bottom: 12px;
}

footer {
	background-color: black;
	font-size: 16px;
}

footer .container.text-left.text-md-left {
	width:1000px;
	margin: 50px auto;
}

footer .font-weight-bold.text-uppercase.mb-4.text-secondary {
	font-size: 18px;
}

footer ul li p a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

footer ul li p a:hover {
	font-size: 18px;
	color:rgb(141, 139, 139)
}

.bottom_bar {
	height: 60px;
	background-color: rgb(255, 10, 10);
	margin-top: 30px;
}

.bottom_bar .footer-copyright {
	padding-top: 18px;
	font-size: 15px;
	color: white;
}	

footer ul {
	padding: 5px;
}

footer ul li p a.twitter,
footer ul li p a.facebook,
footer ul li p a.instagram {
	padding-bottom: 12px;
}