#sidebar-container > div.menu > a:nth-child(2) {
    color: orange !important;
}

#sidebar-container > div.menu > a {
    text-decoration: none;
}

#sidebar-container > div.menu > a > i {
    padding-right: 12px;
}

.bg-primary { 
    background-color: #002959 !important; 
}

.bg-light { 
    background-color: #fff !important; 
}

.bg-grey { 
    background-color: #efefef !important; 
}

#sidebar-container {
    min-height: 100%;
}
  
#sidebar-container .logo {
    padding: 15px 0px 30px 15px;
    width: 255px;
}

#sidebar-container .logo img {
    width: 245px;
}
  
#sidebar-container .menu {
    width: 18rem;
    font-size: 20px;
}

#sidebar-container .menu a:hover {
    font-size: 22px;
    color: orange!important;
    text-decoration: none;
}

#content {
    overflow-y: auto;
    height: 91.5vh;
}

.profile {
    max-width: 55px;
}

.nav-link.text-dark {
    font-size: 20px;
}

.stat {
    border-right: 1px solid #efefef;
}

.title_header {
    font-size: 24px;
    display: contents;
    font-weight: bold;
    color: #002959;
}

.separation_line {
    background-color: rgb(255 255 255);
    padding-bottom: 2px;
    border-radius: 10px;
    margin-top: 18px;
}

.btn.btn-warning {
    font-size: 20px;
}

.btn.btn-warning.tutorial{
    margin: 80px 94px;
}

div > div.w-100 > nav {
    padding: 10px 15px;
}

div > div.w-100 > nav > div.collapse.navbar-collapse > ul > li > div {
    margin-left: 170px;
}

#content > div > div > div > div{
    background-color: white;
}

#content div.container-fluid p{
    text-align: left;
    font-size: 26px;
    color: #002959;
}

#content > div.container-fluid > div > div > div > div {
    padding: 15px 15px 0 15px;
}

#content > div.container-fluid > div > div > div {
    border: 2px groove;
}

#content > div.container-fluid > div > div div > div > div > div > img {
    width: 250px;
    margin-top: 15px;
}

#content > div.container-fluid > div > div > div > div > div {
    border:none
}

@media print {

    header, nav, .menu, img, button, #sidebar-container {
        display: none;
    }

    #content > div.container-fluid > div > div > div > div > div > div > img {
        display: initial;
    }

    #content {
        height: auto;
        background-color: white !important;
    }

  }