
<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <a routerLink="/" target="_blank"><img src="assets/WebLogo.png" ></a>
            <hr class="separation_line">
        </div>

        <div class="menu">
            <a class="d-block text-light p-3 border-0" routerLink="/Plan_De_Entrenamiento"><i class="icon ion-md-walk lead mr-2"></i>Mi Entrenamiento</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Ejercicios"><i class="ion-md-clipboard lead mr-2"></i>Mis Ejercicios</a>
            <!-- <a class="d-block text-light p-3 border-0" routerLink="/Progreso"><i class="icon ion-md-stats lead mr-2"></i>Mi Progreso</a> -->
            <a class="d-block text-light p-3 border-0" routerLink="/Retos"><i class="ion-md-star lead mr-2"></i>Mis Retos</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Puntuación"><i class="icon ion-md-podium lead mr-2"></i>Mi Puntuación</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Consejos"><i class="icon ion-md-bulb lead mr-2"></i>Consejos</a>
        </div>
        <button class="btn btn-warning tutorial">Tutorial</button>
    </div>

    <div class="w-100">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <p class="title_header">Ejercicios de la Semana</p><br>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="userImg" class="img-fluid rounded profile mr-2" >
                            {{completeUserName}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <button class="dropdown-item" routerLink="/Perfil">Mi perfil</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" (click)="onLogout()">Cerrar sesión</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="bg-grey w-100 text-center">
            <div class="row mt-5 mb-3 ">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3">
                    <button class="btn btn-warning">Imprimir <img style="width: 24px; margin-left: 5px" src="assets/registered/print.png" alt="print img"></button>
                </div>
            </div>
            <div class="container-fluid">

                <div *ngFor="let routine of userRoutines; let i = index">
                    <div *ngIf="routine.includes('Lunes')">
                        <p class="my-3 ml-5">{{routine}}</p>
                        <div class="row my-5 mx-5">
                            <div class="col-4 mx-auto" *ngFor="let routineExercise of routineExercises[i]; let j = index">
                                <div class="card" >
                                    <div class="card-body">
                                        <h5 class="card-title">{{j+1}}) {{routineExercise[0]}}</h5>
                                        <img src="{{routineExercises[3]}}" alt="" width="250px">
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let routine of userRoutines; let i = index">
                    <div *ngIf="routine.includes('Martes')">
                        <p class="my-3 ml-5">{{routine}}</p>
                        <div class="row my-5 mx-5">
                            <div class="col-4 mx-auto" *ngFor="let routineExercise of routineExercises[i]; let j = index">
                                <div class="card" >
                                    <div class="card-body">
                                        <h5 class="card-title">{{j+1}}) {{routineExercise[0]}}</h5>
                                        <img src="{{routineExercise[3]}}" alt="" width="250px">
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let routine of userRoutines; let i = index">
                    <div *ngIf="routine.includes('Miércoles')">
                        <p class="my-3 ml-5">{{routine}}</p>
                        <div class="row my-5 mx-5">
                            <div class="col-4 mx-auto" *ngFor="let routineExercise of routineExercises[i]; let j = index">
                                <div class="card" >
                                    <div class="card-body">
                                        <h5 class="card-title">{{j+1}}) {{routineExercise[0]}}</h5>
                                        <img src="{{routineExercise[3]}}" alt="" width="250px">
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let routine of userRoutines; let i = index">
                    <div *ngIf="routine.includes('Jueves')">
                        <p class="my-3 ml-5">{{routine}}</p>
                        <div class="row my-5 mx-5">
                            <div class="col-4 mx-auto" *ngFor="let routineExercise of routineExercises[i]; let j = index">
                                <div class="card" >
                                    <div class="card-body">
                                        <h5 class="card-title">{{j+1}}) {{routineExercise[0]}}</h5>
                                        <img src="{{routineExercise[3]}}" alt="" width="250px">
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let routine of userRoutines; let i = index">
                    <div *ngIf="routine.includes('Viernes')">
                        <p class="my-3 ml-5">{{routine}}</p>
                        <div class="row my-5 mx-5">
                            <div class="col-4 mx-auto" *ngFor="let routineExercise of routineExercises[i]; let j = index">
                                <div class="card" >
                                    <div class="card-body">
                                        <h5 class="card-title">{{j+1}}) {{routineExercise[0]}}</h5>
                                        <img src="{{routineExercise[3]}}" alt="" width="250px">
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let routine of userRoutines; let i = index">
                    <div *ngIf="routine.includes('Sábado')">
                        <p class="my-3 ml-5">{{routine}}</p>
                        <div class="row my-5 mx-5">
                            <div class="col-4 mx-auto" *ngFor="let routineExercise of routineExercises[i]; let j = index">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{j+1}}) {{routineExercise[0]}}</h5>
                                        <img src="{{routineExercise[3]}}" alt="" width="250px">
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let routine of userRoutines; let i = index">
                    <div *ngIf="routine.includes('Domingo')">
                        <p class="my-3 ml-5">{{routine}}</p>
                        <div class="row my-5 mx-5">
                            <div class="col-4 mx-auto" *ngFor="let routineExercise of routineExercises[i]; let j = index">
                                <div class="card" >
                                    <div class="card-body">
                                        <h5 class="card-title">{{j+1}}) {{routineExercise[0]}}</h5>
                                        <img src="{{routineExercise[3]}}" alt="" width="250px">
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="showEmptyPlanning">
                    <p class="mt-5" style="font-size: 40px; text-align: center">¡Oops! :(</p>
                    <p style="font-size: 30px; text-align: center">El plan de entrenamiento no tiene rutinas disponibles</p> 
                    <img width="275px" src="assets/registered/emptyTrainingPlan.gif" alt="">
                </div>

            </div>
        </div>
    </div>
</div>