<!-- Hola, {{user?.email}}  -->
<!-- El signo ? es para que no se compruebe si el usuario existe -->

<!-- <ul *ngIf="user$ | async as user; else login">
    <li><button class="btn btn-danger" (click)="onLogout()">Logout</button></li>
    <li>Hola, {{user?.email}}</li>
</ul>
<ng-template #login>
    <li>
        <a routerLink="/Iniciar_Sesion">Login</a>
    </li>
</ng-template> -->

<div *ngIf="!loading && user$ | async as user; else showLoading">
    <h4>Vista de Usuario Registrado (sin emplementar)</h4> 
    <p>Hola, {{user?.email}}</p>
    <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    <br><br><img width="150px" src="https://firebasestorage.googleapis.com/v0/b/routinext.appspot.com/o/profile_Images%2FXT_black.png?alt=media&token=ecb49987-1e49-40bd-a498-e1111086505f" alt="">
</div>

<ng-template #showLoading>
    <ngx-spinner bdColor =
        rgba(0,0,0,0.8)
        size = "large" 
        color = "#fff" 
        type = "ball-atom" 
        [fullScreen] = "true">
        <p style="color: white">Cargando Contenido</p>
    </ngx-spinner>
</ng-template>