.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}	

header {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.7)
	  ), url('src/assets/Unregistered/stretching.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1475px;
	margin-bottom: -16px;
}

header .menu {
	margin: 70px 0;
	text-align: right;
}


header .menu img {
	float: left;
	width: 265px;
	margin-top: -15px;
}

header .menu .btn {
	font-size: 1.1rem;
	margin-top: -10px;
}

header .text_container {
	justify-content: center;
	align-content: center;
	display: flex;
	margin: 190px;
}

header .text_container .text {
	text-align: center;
	padding: 0 164px;
	margin-top: -50px;
}

header .text_container .text h1,
header .text_container .text h2 {
	color: #fff;
	font-weight: 300;
	margin: 0;
}

header .text_container .text .description {
	margin-bottom: 10px;
	font-size: 29px;
	line-height: 50px;
}

header .text_container .text .sub_description {
	font-size: 18px;
	margin-top: 80px;
}

header .container .video {
	text-align: center;
	margin-top: -120px;
}

.separation_line {
	height: 12px;
	background-color:  rgb(27 27 27);
	padding-bottom: 12px;
}

.separation_line.article {
	margin: -16px;
	margin-bottom: 60px;
}

main {
	background-color: black;
}

main .container {
	overflow: hidden;
    height: 580px;
	padding-top: 80px;
    margin-bottom: 45px;
}

main .article .article1_text {
	margin: 138px 40px 130px 134px;
}

main .article .article_title {
	margin: 0px 50px 15px 22px;
    font-size: 28px;
    line-height: 34px;
    color: white;
}

main .article .article_subtitle {
	font-size: 18px;
	margin-right: 108px;
	margin-left: 20px;
	color:cornflowerblue
}

main .article .article1_img {
	display:block;
	margin: 50px auto;
	width: 180px;
	transition: all 500ms ease-in-out;
}

main .article .article1_img:hover {
	transform:scale(1.3)
}

main .container.article2 {
	overflow: hidden;
    height: 460px;
    padding-top: 70px;
    margin-bottom: 45px;
}

main .article .article2_text {
	margin: 50px 30px 65px 90px;
}

main .article .article2_img {
	float: left;
	margin-left: 120px;
	width: 315px;
	transition: all 500ms ease-in-out;
}

main .article .article2_img:hover {
	transform:scale(1.3)
}

main .article .article3_text {
	margin: 90px 40px 10px 132px;
}

main .article .container.article3 {
    height: 460px;
	padding-top:30px;
    margin-bottom: 0;
}

main .article .article3_img {
	display: block;
	margin: 80px auto;
	width: 360px;
	transition: all 500ms ease-in-out;
}

main .article .article3_img:hover {
	transform:scale(1.3)
}

main .container.reviews {
	overflow: hidden;
    height: 550px;
	margin: 0 auto;
}

main .article .reviews_title {
	margin: 0;
    padding-top: 50px;
    color: white;
    font-size: 26px;
    text-align: center;
}

main .article .reviews_img {
	width: 300px;
    margin-left: 42px;
}

main .article .reviews_usertitle {
	margin: 30px 15px 18px 42px;
    font-size: 20px;
    line-height: 40px;
    color: cornflowerblue;
}

main .article .reviews_usersubtitle {
	font-size: 16px;
    margin-left: 43px;
    color: white;
}

footer {
	background-color: black;
	font-size: 16px;
}

footer .container.text-left.text-md-left {
	width:1000px;
	margin: 50px auto;
}

footer .font-weight-bold.text-uppercase.mb-4.text-secondary {
	font-size: 18px;
}

footer ul li p a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

footer ul li p a:hover {
	font-size: 18px;
	color:rgb(141, 139, 139)
}

.bottom_bar {
	height: 60px;
	background-color: rgb(255, 10, 10);
	margin-top: 30px;
}

.bottom_bar .footer-copyright {
	padding-top: 18px;
	font-size: 15px;
	color: white;
}	

footer ul {
	padding: 5px;
}

footer ul li p a.twitter,
footer ul li p a.facebook,
footer ul li p a.instagram {
	padding-bottom: 12px;
}

.grdp {
	position: fixed;
	bottom: -1px;
	left: 0px;
	width: 100%;
	z-index: 100000;
	text-align: justify;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border: 2px solid #000000;
	padding: 12px;
	margin: auto;
	font-size: 14px;
	animation: fadeIn ease 3s;
  }

  @keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }

.btn {
	float:right;
	margin-right: 12px;
	margin-top: -20px;
	font-size: 14px;
}
   
.bcgrdp {
	cursor: pointer;
	
}
  