<header>
    <div class="container">
        <nav class="menu">
            <img class="btn_hover" src="assets/unregistered/webLogo.png" alt="logo">
            <button type="button" class="btn btn-danger" routerLink="Iniciar_Sesion">Iniciar Sesión</button>
        </nav>
    
        <div class="text_container">
            <div class="text">
                <h1 class="description">
                    Todos los ejercicios, rutinas que
                    necesites, y mucho más.
                    Haz ejercicio en casa para
                    mantenerte en forma al ritmo que tu
                    elijas.
                </h1>
                <h2 class="sub_description">¿Quieres ver una demostración? Mira el siguiente vídeo.</h2>
            </div>
        </div>

        <div class="video">
            <video width="1000" controls controlsList="nodownload" src="assets/unregistered/economiaCircular.mp4"></video> 
        </div>
    </div>
</header>

<div class="separation_line"></div>

<main>
    <section class="article">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="article1_text">
                        <h1 class="article_title">
                            Disfruta de RoutineXT en tu móvil.
                        </h1>
                        <h2 class="article_subtitle">
                            Consulta ejercicios, rutinas,
                            duraciones y mucho más.
                        </h2>
                    </div>
                </div>
                <div class="col-xl-6">
                  <img class="article1_img" src="assets/unregistered/phone.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="separation_line article"></div>

    <section class="article">
        <div class="container article2">
            <div class="row">
                <div class="col-xl-6">
                    <img class="article2_img" src="assets/unregistered/monitor.png" alt="">
                </div>
                <div class="col-xl-6">
                    <div class="article2_text">
                        <h1 class="article_title">
                            Echa un vistazo a tu progreso, estadísticas, y mucho más. 
                        </h1>
                        <h2 class="article_subtitle">
                            Modifica, gestiona y consulta tu puntuación con gran facilidad.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="separation_line article"></div>

    <section class="article">
        <div class="container article3">
            <div class="row">
                <div class="col-xl-6">
                    <div class="article3_text">
                        <h1 class="article_title">
                            Consulta consejos de entrenamiento de tu rutina. 
                        </h1>
                        <h2 class="article_subtitle">
                            Consulta ejercicios, rutinas, duraciones y mucho más.
                        </h2>
                    </div>
                </div>
                <div class="col-xl-6">
                  <img class="article3_img" src="assets/unregistered/tips.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="separation_line"></div>

    <section class="article">
        <h2 class="reviews_title">
            ¿Qué dicen de nosotros?
        </h2>
        <div class="container reviews">
            <div class="row">
                <div class="col-xl-4">
                        <img class="reviews_img" src="assets/unregistered/review1.jpg" alt="">
                        <h2 class="reviews_usertitle">
                            Marta Santana - Usuaria
                        </h2>
                        <h2 class="reviews_usersubtitle">
                            Nunca pensé que esta
                            aplicación sería tan fácil y
                            cómoda de utilizar para
                            cualquier edad.
                        </h2>
                </div>
                <div class="col-xl-4">
                        <img class="reviews_img" src="assets/unregistered/review2.jpg" alt="">
                        <h2 class="reviews_usertitle">
                            Yurena Fernández - Entrenadora
                        </h2>
                        <h2 class="reviews_usersubtitle">
                            El teletrabajo ha llegado
                            para quedarse y
                            afortunadamente muchas
                            aplicaciones también.
                        </h2>
                </div>
                <div class="col-xl-4">
                        <img class="reviews_img" src="assets/unregistered/review3.jpeg" alt="">
                        <h2 class="reviews_usertitle">
                            Miguel Quintana - Monitor
                        </h2>
                        <h2 class="reviews_usersubtitle">
                            He probado muchas
                            aplicaciones, pero esta te
                            aporta la motivación que
                            ninguna te ofrece.
                        </h2>
                </div>
            </div>
        </div>
    </section>
    
</main>

<div class="separation_line"></div>

<footer class="page-footer font-small mdb-color lighten-3 pt-4">
    <div class="container text-left text-md-left">
      <div class="row">
        <div class="col-xl-4 text-center">
          <h5 class="font-weight-bold text-uppercase mb-4 text-secondary">Servicios</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#">Preguntas Frecuentes (FAQs)</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#">Contacto</a>
              </p>
            </li>
          </ul>
        </div>
        <div class="col-xl-4 text-center">
            <h5 class="font-weight-bold text-uppercase mb-4 text-secondary">Cuestiones Legales</h5>
            <ul class="list-unstyled">
              <li>
                <p>
                  <a href="#">Aviso Legal</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="#">Política de Privacidad</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="#">Política de Cookies</a>
                </p>
              </li>
            </ul>
          </div>
        <div class="col-xl-4 text-center">
            <h5 class="font-weight-bold text-uppercase mb-4 text-secondary">Redes Sociales</h5>
            <ul class="list-unstyled">
              <li>
                <p>
                    <a class="twitter" href=""><i style="margin-top: 5px; margin-right: 5px; color:#00acee; width:25; height:25" class="fab fa-twitter"></i> Twitter</a>
                </p>
              </li>
              <li>
                <p>
                    <a class="instagram" href=""><i style="margin-top: 5px; margin-right: 5px; color: #E1306C; width:25; height:25" class="fab fa-instagram"></i> Instagram</a>
                </p>
              </li>
              <li>
                <p>
                    <a class="facebook" href=""><i style="margin-top: 5px; margin-right: 5px; color: #3b5998; width:25; height:25" class="fab fa-facebook-square"></i> Facebook</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <div class="bottom_bar">
        <div class="footer-copyright text-center">© RoutineXT - 2021 (también disponible en versión móvil)</div>
    </div>
  </footer>
