<header>
    <div class="container">
        <nav class="menu">
            <img type="button" src="assets/WebLogo.png" alt="logo">
            <button type="button" class="btn btn-danger" routerLink="/Test" *ngIf="user$ | async as user">Hola, {{user?.email}}</button>
            <button type="button" class="btn btn-danger" routerLink="/Iniciar_Sesion" *ngIf="!isLogged">Iniciar Sesión</button>
        </nav>
    
        <div class="text_container">
            <div class="text">
                <h1 class="description">
                    Todos los ejercicios, rutinas que
                    necesites, y mucho más.
                    Haz ejercicio en casa para
                    mantenerte en forma al ritmo que tu
                    elijas.
                </h1>
                <h2 class="sub_description">¿Quieres ver una demostración? Mira el siguiente vídeo.</h2>
            </div>
        </div>

        <div class="video">
            <video width="1000" controls controlsList="nodownload" src="assets/unregistered/economiaCircular.mp4"></video> 
        </div>
    </div>
</header>

<div class="separation_line"></div>

<main>
    <section class="article">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="article1_text">
                        <h1 class="article_title">
                            Disfruta de RoutineXT en tu móvil.
                        </h1>
                        <h2 class="article_subtitle">
                            Consulta ejercicios, rutinas,
                            duraciones y mucho más.
                        </h2>
                    </div>
                </div>
                <div class="col-xl-6">
                  <img class="article1_img" src="assets/unregistered/phone.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="separation_line article"></div>

    <section class="article">
        <div class="container article2">
            <div class="row">
                <div class="col-xl-6">
                    <img class="article2_img" src="assets/unregistered/monitor.png" alt="">
                </div>
                <div class="col-xl-6">
                    <div class="article2_text">
                        <h1 class="article_title">
                            Echa un vistazo a tu progreso, estadísticas, y mucho más. 
                        </h1>
                        <h2 class="article_subtitle">
                            Modifica, gestiona y consulta tu puntuación con gran facilidad.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="separation_line article"></div>

    <section class="article">
        <div class="container article3">
            <div class="row">
                <div class="col-xl-6">
                    <div class="article3_text">
                        <h1 class="article_title">
                            Consulta consejos de entrenamiento de tu rutina. 
                        </h1>
                        <h2 class="article_subtitle">
                            Consulta ejercicios, rutinas, duraciones y mucho más.
                        </h2>
                    </div>
                </div>
                <div class="col-xl-6">
                  <img class="article3_img" src="assets/unregistered/tips.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="separation_line"></div>

    <section class="article">
        <h2 class="reviews_title">
            ¿Qué dicen de nosotros?
        </h2>
        <div class="container reviews">
            <div class="row">
                <div class="col-xl-4">
                        <img class="reviews_img" src="assets/unregistered/review1.jpg" alt="">
                        <h2 class="reviews_usertitle">
                            Marta Santana - Usuaria
                        </h2>
                        <h2 class="reviews_usersubtitle">
                            Nunca pensé que esta
                            aplicación sería tan fácil y
                            cómoda de utilizar para
                            cualquier edad.
                        </h2>
                </div>
                <div class="col-xl-4">
                        <img class="reviews_img" src="assets/unregistered/review2.jpg" alt="">
                        <h2 class="reviews_usertitle">
                            Yurena Fernández - Entrenadora
                        </h2>
                        <h2 class="reviews_usersubtitle">
                            El teletrabajo ha llegado
                            para quedarse y
                            afortunadamente muchas
                            aplicaciones también.
                        </h2>
                </div>
                <div class="col-xl-4">
                        <img class="reviews_img" src="assets/unregistered/review3.jpeg" alt="">
                        <h2 class="reviews_usertitle">
                            Miguel Quintana - Monitor
                        </h2>
                        <h2 class="reviews_usersubtitle">
                            He probado muchas
                            aplicaciones, pero esta te
                            aporta la motivación que
                            ninguna te ofrece.
                        </h2>
                </div>
            </div>
        </div>
    </section>
    
</main>
<app-footer></app-footer>

<div class="grdp" role="alert" [hidden]="!showCookieMessage">
    <p>
      <strong>GDPR (Reglamento General Protección de Datos)</strong>
       <br>
       Utilizamos cookies propias y de terceros para mejorar nuestros servicios relacionados con tus preferencias mediante el análisis de tus hábitos de navegación.
       Puede obtener más información en nuestra <a routerLink="/Política_De_Cookies" target="_blank">Política de Cookies.</a>
       Pulse el botón ACEPTAR, para confirmar que ha leído y aceptado la información presentada. Después de aceptar no volveremos a mostrar este mensaje tras 72 horas.
    </p>
    <button type="button" class="btn btn-primary bcgrdp" (click)="acceptCookies()">Aceptar</button>
    <button type="button" class="btn btn-danger bcgrdp" (click)="rejectCookies()">Rechazar</button>
  </div>
