<header>
    <div class="container">
        <nav class="menu">
            <img type="button" src="assets/WebLogo.png" alt="logo" routerLink="/">
            <button type="button" class="btn btn-danger" routerLink="/Test" *ngIf="user$ | async as user">Hola, {{user?.email}}</button>
            <button type="button" class="btn btn-danger" routerLink="/Iniciar_Sesion" *ngIf="!isLogged">Iniciar Sesión</button>
        </nav>

        <form class="form" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
            <h1 class="form_title">Solicitar cambio de contraseña</h1>
          
            <input type="email" class="form-control" formControlName="email" maxlength="50" placeholder="Introduzca su email">
            <div *ngIf="resetForm.controls['email'].invalid && resetForm.controls['email'].dirty" class="alert alert-danger" role="alert">
                <span *ngIf="resetForm.controls['email'].errors.required">El correo es un campo obligatorio</span>
                <span *ngIf="resetForm.controls['email'].errors.pattern">El correo no es válido</span>
            </div>

          <button type="submit" class="btn btn-light" [disabled]="resetForm.invalid">Enviar Email</button>
          <img class="logo_form" src="assets/WebLogo_Big.png">
        </form>

    </div>
</header>

<app-footer></app-footer>