.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}	

header {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.7)
	  ), url('src/assets/Unregistered/stretching.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1000px;
	margin-bottom: -16px;
}

header .menu {
	margin: 70px 0;
	text-align: right;
}

header .menu img {
	float: left;
	width: 265px;
	margin-top: -15px;
}

header .menu .btn {
	font-size: 1.1rem
}

.form .form_title {
	text-align: center;
    font-size: 26px;
    margin-bottom: 45px;
    color: rgb(141, 139, 139);
}

.form {
	background: #2c2c2c;
    width: 650px;
    margin: 110px auto;
    padding: 60px 90px;
    border-radius: 5px;
	height: 600px;
}

.form input[type="email"], 
.form input[type="password"] {
	width: 100%;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #000000;
    font-size: 16px;
}

.alert {
	padding: 0.5rem 0.5rem
}

.form input[type="email"]:focus, 
.form input[type="password"]:focus {
	border: 2px solid #0066ff;
	outline: 0 none;
}

.form .btn.btn-light {
	width: 148px;
    margin: 30px 0;
    font-size: 16px;
    border-radius: 52px;
	float: right;
}

.form .btn.btn-light:hover {
	background-color: #0d6efd;
	color: white;
}

.form a:hover {
	color: white !important;
}

.form .crear_cuenta {
	text-align: center;
    margin-top: 100px;
    color: #66a4ff;
	font-size: 18px;
}

.form .logo_form {
	margin: 50px 110px;
	width: 250px;
}

.separation_line {
	height: 12px;
	background-color:  rgb(27 27 27);
	padding-bottom: 12px;
}

footer {
	background-color: black;
	font-size: 16px;
}

footer .container.text-left.text-md-left {
	width:1000px;
	margin: 50px auto;
}

footer .font-weight-bold.text-uppercase.mb-4.text-secondary {
	font-size: 18px;
}

footer ul li p a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

footer ul li p a:hover {
	font-size: 18px;
	color:rgb(141, 139, 139)
}

.bottom_bar {
	height: 60px;
	background-color: rgb(255, 10, 10);
	margin-top: 30px;
}

.bottom_bar .footer-copyright {
	padding-top: 18px;
	font-size: 15px;
	color: white;
}	

footer ul {
	padding: 5px;
}

footer ul li p a.twitter,
footer ul li p a.facebook,
footer ul li p a.instagram {
	padding-bottom: 12px;
}