
<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <a routerLink="/" target="_blank"><img src="assets/WebLogo.png" ></a>
            <hr class="separation_line">
        </div>o

        <div class="menu">
            <a class="d-block text-light p-3 border-0" routerLink="/Plan_De_Entrenamiento"><i class="icon ion-md-walk lead mr-2"></i>Mi
                Entrenamiento</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Ejercicios"><i class="ion-md-clipboard lead mr-2"></i>Mis Ejercicios</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Progreso"><i class="icon ion-md-stats lead mr-2"></i>Mi Progreso</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Retos"><i class="ion-md-star lead mr-2"></i>Mis Retos</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Puntuación"> <i class="icon ion-md-podium lead mr-2"></i>Mi
                Puntuación</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Consejos"> <i class="icon ion-md-bulb lead mr-2"></i>Consejos</a>
        </div>
        <button class="btn btn-warning tutorial">Tutorial</button>
    </div>

    <div class="w-100">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <p class="title_header">Consejos y Buenas Prácticas</p><br>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="userImg" class="img-fluid rounded profile mr-2" alt="profile photo" >
                            {{completeUserName}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <button class="dropdown-item" routerLink="/Perfil">Mi perfil</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" (click)="onLogout()">Cerrar sesión</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="bg-grey w-100 text-center">
           
            <div class="container-fluid">
                <div class="row mx-auto">
                    <p class="title">Consejos</p>

                    <div id="demo" class="carousel slide mx-auto" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <p>A continuación, te presentamos algunos consejos útiles para tu entrenamiento</p>
                            </div>
                            
                            <div class="carousel-item" *ngFor="let adv of advice">
                                <p>{{adv}}</p>
                            </div>
                           
                        </div>
                        
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                    
                </div>
                <div class="row mx-auto">
                    <p class="title">Buenas Prácticas</p>
                    <div class="col-6" *ngFor="let pract of practice">
                        <ul>
                            <li>{{pract}}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>