

<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <a routerLink="/" target="_blank"><img src="assets/WebLogo.png" ></a>
            <hr class="separation_line">
        </div>

        <div class="menu">
            <a class="d-block text-light p-3 border-0" routerLink="/Tabla_De_Usuarios"><i class="icon ion-md-walk lead mr-2"></i>Tabla de Usuarios</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Tabla_De_Ejercicios"><i class="ion-md-clipboard lead mr-2"></i>Tabla de Ejercicios</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Tabla_De_Retos"><i class="ion-md-star lead mr-2"></i>Tabla de Retos</a>
            <a class="d-block text-light p-3 border-0" href="https://outlook.live.com/owa/?nlp=1" target="_blank"><span class="iconify mr-3 mb-1" data-icon="ion-mail" data-inline="false"></span>Correo Personal</a>
        </div>
    </div>

    <div class="w-100">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <p class="title_header">Editar Perfil del Administrador/a</p><br>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="userImg" class="img-fluid rounded profile mr-2">
                            <span style="font-size: 20px;">{{name}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <button class="dropdown-item" routerLink="/Perfil_Adm">Mis Datos</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" (click)="onLogout()">Cerrar sesión</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="bg-grey w-100 text-center">
           
            <div class="container-fluid">
                <div class="row my-5 ml-5">
                    <div class="col-5">
                        <div class="card">
                            <div class="card-body mx-auto">
                                <h5 class="card-title">Foto de Perfil</h5><hr>
                                <img class="card-img-top" [src]="userImg">
                                <label for="file-upload" class="custom-file-upload mt-5">Cambiar Imagen</label>
                                <input id="file-upload" type="file" (change)="updateImg($event)">
                            </div>
                        </div><br>
                        <progressbar [value]="uploadPercentage" type="success" *ngIf="uploadPercentage < 100">{{uploadPercentage}}%</progressbar>
                        <progressbar [value]="uploadPercentage" type="success" *ngIf="uploadPercentage == 100">OK</progressbar>
                    </div>
                    <div class="col-3">
                        <p>Nombre:</p>
                        <p>Correo Personal:</p>
                        <button class="btn btn-secondary" routerLink="/Perfil_Adm">Volver al perfil</button>
                    </div>
                    <div class="col-3">
                        
                        <form class="form" [formGroup]="dataForm" (ngSubmit)="onUpdate()">
                            
                            <input type="text" placeholder={{name}} formControlName="userName" maxlength="25">
                
                            <div *ngIf="dataForm.controls['userName'].invalid && dataForm.controls['userName'].dirty" class="alert alert-danger" role="alert">
                              <span *ngIf="dataForm.controls['userName'].errors.required">Nombre requerido</span>
                            </div>
                
                            <input type="email" placeholder="{{email}}" formControlName="userEmail" maxlength="50">
                
                            <div *ngIf="dataForm.controls['userEmail'].invalid && dataForm.controls['userEmail'].dirty" class="alert alert-danger age" role="alert">
                              <span *ngIf="dataForm.controls['userEmail'].errors.required">Correo requerido</span>
                              <span *ngIf="dataForm.controls['userEmail'].errors.pattern">El correo no es válido</span>
                            </div>

                            <button type="submit" class="btn btn-success" [disabled]="!dataForm.valid">Guardar Cambios</button>
                                
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>