#content::-webkit-scrollbar {
    display: none;
}

#sidebar-container > div.menu > a:nth-child(1) {
    color: orange !important;
}


#sidebar-container > div.menu > a {
    text-decoration: none;
}

#sidebar-container > div.menu > a > i {
    padding-right: 12px;
}

.bg-primary { 
    background-color: #34303b !important; 
}

.bg-light { 
    background-color: #ba3636 !important; 
}

.bg-grey { 
    background-color: #efefef !important; 
}

#sidebar-container {
    min-height: 100%;
}
  
#sidebar-container .logo {
    padding: 15px 0px 30px 15px;
    width: 255px;
}

#sidebar-container .logo img {
    width: 245px;
}
  
#sidebar-container .menu {
    width: 18rem;
    font-size: 20px;
}

#sidebar-container .menu a:hover {
    font-size: 22px;
    color: orange!important;
    text-decoration: none;
}

#content {
    overflow-y: auto;
    height: 91.5vh;
}

.profile {
    max-width: 55px;
}

.nav-link.text-dark {
    font-size: 20px;
}

.stat {
    border-right: 1px solid #efefef;
}

.title_header {
    font-size: 24px;
    display: contents;
    font-weight: bold;
    color: white;
}

.separation_line {
    background-color: rgb(255 255 255);
    padding-bottom: 2px;
    border-radius: 10px;
    margin-top: 18px;
}

.btn.btn-warning {
    font-size: 20px;
}

.btn.btn-warning.tutorial{
    margin: 80px 94px;
}

div > div.w-100 > nav {
    padding: 10px 15px;
}

div > div.w-100 > nav > div.collapse.navbar-collapse > ul > li > div {
    margin-left: 170px;
}

#content > div > div.row.mt-5.mx-5 > div {
    overflow: scroll;
    height: 400px;
}

#content > div > div:nth-child(1) > div.col-3 > button {
    float: left;
    font-size: 16px;
    margin-bottom: 30px;
}

#content > div > div.row.my-5.ml-5 > div:nth-child(2) > button {
    font-size: 16px;
    float: right;
    margin-right: 80px;
}

#customers {
    border-collapse: collapse;
    width: 100%;
    border: 2px groove
}
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4c78af;
    color: white;
}

#customers > tr > td:nth-child(6) {
    cursor: pointer;
    width: 200px;
}

#customers > tr > td:nth-child(6) > button.btn.btn-danger {
    margin-left: 5px;
}

.modal-header {
    border-bottom-color: black;
    background-color: #007bff;
}

.modal-body {
    font-size: 17px
}

.modal-footer {
    border-top-color: black;
}

.modal-footer p {
    width: 81%;
}

.modal-body > div > div.col-8 > input {
    width: 100%;
}

.modal-header > h4 {
    color: white;
}