<header>
    <div class="container">
        <nav class="menu">
            <img type="button" src="assets/WebLogo.png" alt="logo" routerLink="/">
            <button type="button" class="btn btn-danger" routerLink="/Iniciar_Sesion">Iniciar Sesión</button>
        </nav>

          <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <h1 class="form_title">Inicio de Sesión</h1>
          
          <input type="email" placeholder="Email" formControlName="email">
          <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="loginForm.controls['email'].errors.required">El correo es un campo obligatorio</span>
            <span *ngIf="loginForm.controls['email'].errors.pattern">El correo no es válido</span>
          </div>

          <input type="password" placeholder="Contraseña" formControlName="password" (keyUp.enter)="onLogin()">
          <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="loginForm.controls['password'].errors.required">La contraseña es un campo obligatorio</span>
          </div>

          <div *ngIf="!validData && !loginForm.controls['email'].dirty && !loginForm.controls['password'].dirty" class="alert alert-warning" role="alert">
            Correo electrónico y/o contraseña incorrecto
          </div>

          <a style="color: #66a4ff" routerLink="/Nueva_Contraseña">¿Has olvidado la contraseña?</a>
          <button type="submit" class="btn btn-light" [disabled]="!loginForm.valid">Acceder</button>
          <p style="color: #8d8b8b" class="crear_cuenta">¿Eres nuevo en RoutineXT? <a class="crear_cuenta" routerLink="/Crear_Cuenta">Crea una cuenta</a></p>
          <img class="logo_form" src="assets/WebLogo_Big.png">
        </form>

    </div>
</header>

<app-footer></app-footer>

<ngx-spinner bdColor=rgba(9,30,115,0.8) size="large" color="#ffc107" type="square-jelly-box" [fullScreen]="true">
    <p style="font-size: 18px; color: white; padding-top: 30px;">Iniciando Sesión</p>
</ngx-spinner>
