<!-- Hola, {{user?.email}}  -->
<!-- El signo ? es para que no se compruebe si el usuario existe -->

<!-- <ul *ngIf="user$ | async as user; else login">
    <li><button class="btn btn-danger" (click)="onLogout()">Logout</button></li>
    <li>Hola, {{user?.email}}</li>
</ul>
<ng-template #login>
    <li>
        <a routerLink="/Iniciar_Sesion">Login</a>
    </li>
</ng-template> -->

<!-- <div *ngIf="!loading && user$ | async as user; else showLoading">
    <h4>Vista de Usuario Registrado (sin emplementar)</h4> 
    <p>Hola, {{user?.email}}</p>
    <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    <br><br><img width="150px" src="https://firebasestorage.googleapis.com/v0/b/routinext.appspot.com/o/profile_Images%2FXT_black.png?alt=media&token=ecb49987-1e49-40bd-a498-e1111086505f" alt="">
</div>

<ng-template #showLoading>
    <ngx-spinner 
        bdColor = #001a66
        size = "large" 
        color = "#fff900" 
        type = "square-jelly-box" 
        [fullScreen] = "true">
        <p style="color: white; padding-top: 30px;">Cargando Contenido</p>
    </ngx-spinner>
</ng-template> -->

    <div class="d-flex">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <a routerLink="/" target="_blank"><img src="assets/WebLogo.png" ></a>
                <hr class="separation_line">
            </div>

            <div class="menu">
                <a class="d-block text-light p-3 border-0" style="cursor: pointer"><i class="icon ion-md-walk lead mr-2"></i>Mi
                    Entrenamiento</a>
                <a class="d-block text-light p-3 border-0" routerLink="/Ejercicios"><i class="ion-md-clipboard lead mr-2"></i>Mis Ejercicios</a>
                <a class="d-block text-light p-3 border-0" routerLink="/Progreso"><i class="icon ion-md-stats lead mr-2"></i>Mi Progreso</a>
                <a class="d-block text-light p-3 border-0" routerLink="/Retos"><i class="ion-md-star lead mr-2"></i>Mis Retos</a>
                <a class="d-block text-light p-3 border-0" routerLink="/Puntuación"> <i class="icon ion-md-podium lead mr-2"></i>Mi
                    Puntuación</a>
                <a class="d-block text-light p-3 border-0" routerLink="/Consejos"> <i class="icon ion-md-bulb lead mr-2"></i>Consejos</a>
            </div>
            <button class="btn btn-warning tutorial">Tutorial</button>
        </div>

        <div class="w-100">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <p class="title_header" *ngIf="!cancelTrainingPlan">Plan de Entrenamiento</p>
                    <p class="title_header" *ngIf="cancelTrainingPlan">Plan de Entrenamiento (cancelado)</p><br>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img [src]="userImg" class="img-fluid rounded profile mr-2" alt="profile photo" >
                                {{completeUserName}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <button class="dropdown-item" routerLink="/Perfil">Mi perfil</button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item" (click)="onLogout()">Cerrar sesión</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <!------------------------------------ Weekdays ------------------------------------------->
            <div id="content" class="bg-grey w-100">

                <div class="container-fluid">
                    <div class="row my-5 mx-4">
                        <div class="col-5">
                            <p class="week_title">Semana</p>
                            <p class="week_value">{{firstDayOfWeek}} - {{lastDayOfWeek}}</p>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger mt-2" style="font-size: 18px; border: 1px outset red" *ngIf="!cancelTrainingPlan" (click)="disableTrainingPlan()">Desactivar Plan de Entrenamiento<img style="width: 40px; margin-left: 10px" src="assets/registered/break.png" alt="print img"></button>
                            <button class="btn btn-success mt-2" style="font-size: 18px; border: 1px outset green" *ngIf="cancelTrainingPlan" (click)="enableTrainingPlan()">Reactivar Plan de Entrenamiento<img style="width: 40px; margin-left: 10px" src="assets/registered/training_icon.png" alt="print img"></button>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2">
                            <button class="btn btn-warning mt-2">Imprimir <img style="width: 24px; margin-left: 5px" src="assets/registered/print.png" alt="print img"></button>
                        </div>
                    </div>
                </div>
                
                <div class="card-group mx-5 text-center">

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Monday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Lunes</h5>
                        </div>
                    </div>

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Tuesday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Martes</h5>
                        </div>
                    </div>

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Wednesday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Miércoles</h5>
                        </div>
                    </div>

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Thursday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Jueves</h5>
                        </div>
                    </div>

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Friday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Viernes</h5>
                        </div>
                    </div>
                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Saturday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Sábado</h5>
                        </div>
                    </div>
                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Sunday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Domingo</h5>
                        </div>
                    </div>

                </div><br>
                
                <!------------------------------------ Mornings ------------------------------------------->
                <div class="card-group mornings mx-5 text-center">

                    <!-- <div class="card"> -->
                    <div class="card" (click)="editableDays[0] && openModal(modal, 'Lunes', 'Mañana (00:00-12:59)')" [ngStyle]="editableDays[0] ? {'background-color':morningRoutines[2][0]} : {'background-color':morningRoutines[2][0], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{morningRoutines[0][0]}}</h5>
                            <p class="card-text">{{morningRoutines[1][0]}}</p>
                            <cite title="Source Title" style="float: left">Mañana</cite>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[1] && openModal(modal, 'Martes', 'Mañana (00:00-12:59)')" [ngStyle]="editableDays[1] ? {'background-color':morningRoutines[2][1]} : {'background-color':morningRoutines[2][1], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{morningRoutines[0][1]}}</h5>
                            <p class="card-text">{{morningRoutines[1][1]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[2] && openModal(modal, 'Miércoles', 'Mañana (00:00-12:59)')" [ngStyle]="editableDays[2] ? {'background-color':morningRoutines[2][2]} : {'background-color':morningRoutines[2][2], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{morningRoutines[0][2]}}</h5>
                            <p class="card-text">{{morningRoutines[1][2]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[3] && openModal(modal, 'Jueves', 'Mañana (00:00-12:59)')" [ngStyle]="editableDays[3] ? {'background-color':morningRoutines[2][3]} : {'background-color':morningRoutines[2][3], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{morningRoutines[0][3]}}</h5>
                            <p class="card-text">{{morningRoutines[1][3]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[4] && openModal(modal, 'Viernes', 'Mañana (00:00-12:59)')" [ngStyle]="editableDays[4] ? {'background-color':morningRoutines[2][4]} : {'background-color':morningRoutines[2][4], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{morningRoutines[0][4]}}</h5>
                            <p class="card-text">{{morningRoutines[1][4]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[5] && openModal(modal, 'Sábado', 'Mañana (00:00-12:59)')" [ngStyle]="editableDays[5] ? {'background-color':morningRoutines[2][5]} : {'background-color':morningRoutines[2][5], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{morningRoutines[0][5]}}</h5>
                            <p class="card-text">{{morningRoutines[1][5]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[6] && openModal(modal, 'Domingo', 'Mañana (00:00-12:59)')" [ngStyle]="editableDays[6] ? {'background-color':morningRoutines[2][6]} : {'background-color':morningRoutines[2][6], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{morningRoutines[0][6]}}</h5>
                            <p class="card-text">{{morningRoutines[1][6]}}</p>
                            <br>
                        </div>
                    </div>

                </div>

                <!------------------------------------ Afternoons ------------------------------------------->

                <div class="card-group afternoons mx-5 text-center">

                    <div class="card" (click)="editableDays[0] && openModal(modal, 'Lunes', 'Tarde (13:00-19:59)')" [ngStyle]="editableDays[0] ? {'background-color':afternoonRoutines[2][0]} : {'background-color':afternoonRoutines[2][0], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{afternoonRoutines[0][0]}}</h5>
                            <p class="card-text">{{afternoonRoutines[1][0]}}</p>
                            <cite title="Source Title" style="float: left">Tarde</cite>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[1] && openModal(modal, 'Martes', 'Tarde (13:00-19:59)')" [ngStyle]="editableDays[1] ? {'background-color':afternoonRoutines[2][1]} : {'background-color':afternoonRoutines[2][1], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{afternoonRoutines[0][1]}}</h5>
                            <p class="card-text">{{afternoonRoutines[1][1]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[2] && openModal(modal, 'Miércoles', 'Tarde (13:00-19:59)')" [ngStyle]="editableDays[2] ? {'background-color':afternoonRoutines[2][2]} : {'background-color':afternoonRoutines[2][2], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{afternoonRoutines[0][2]}}</h5>
                            <p class="card-text">{{afternoonRoutines[1][2]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[3] && openModal(modal, 'Jueves', 'Tarde (13:00-19:59)')" [ngStyle]="editableDays[3] ? {'background-color':afternoonRoutines[2][3]} : {'background-color':afternoonRoutines[2][3], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{afternoonRoutines[0][3]}}</h5>
                            <p class="card-text">{{afternoonRoutines[1][3]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[4] && openModal(modal, 'Viernes', 'Tarde (13:00-19:59)')" [ngStyle]="editableDays[4] ? {'background-color':afternoonRoutines[2][4]} : {'background-color':afternoonRoutines[2][4], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{afternoonRoutines[0][4]}}</h5>
                            <p class="card-text">{{afternoonRoutines[1][4]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[5] && openModal(modal, 'Sábado', 'Tarde (13:00-19:59)')" [ngStyle]="editableDays[5] ? {'background-color':afternoonRoutines[2][5]} : {'background-color':afternoonRoutines[2][5], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{afternoonRoutines[0][5]}}</h5>
                            <p class="card-text">{{afternoonRoutines[1][5]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[6] && openModal(modal, 'Domingo', 'Tarde (13:00-19:59)')" [ngStyle]="editableDays[6] ? {'background-color':afternoonRoutines[2][6]} : {'background-color':afternoonRoutines[2][6], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{afternoonRoutines[0][6]}}</h5>
                            <p class="card-text">{{afternoonRoutines[1][6]}}</p>
                            <br>
                        </div>
                    </div>

                </div>

                <!------------------------------------ Nights ------------------------------------------->

                <div class="card-group nights mx-5 text-center">

                    <div class="card" (click)="editableDays[0] && openModal(modal, 'Lunes', 'Noche (20:00-23:59)')" [ngStyle]="editableDays[0] ? {'background-color':nightRoutines[2][0]} : {'background-color':nightRoutines[2][0], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{nightRoutines[0][0]}}</h5>
                            <p class="card-text">{{nightRoutines[1][0]}}</p>
                            <cite title="Source Title" style="float: left">Noche</cite>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[1] && openModal(modal, 'Martes', 'Noche (20:00-23:59)')" [ngStyle]="editableDays[1] ? {'background-color':nightRoutines[2][1]} : {'background-color':nightRoutines[2][1], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{nightRoutines[0][1]}}</h5>
                            <p class="card-text">{{nightRoutines[1][1]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[2] && openModal(modal, 'Miércoles', 'Noche (20:00-23:59)')" [ngStyle]="editableDays[2] ? {'background-color':nightRoutines[2][2]} : {'background-color':nightRoutines[2][2], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{nightRoutines[0][2]}}</h5>
                            <p class="card-text">{{nightRoutines[1][2]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[3] && openModal(modal, 'Jueves', 'Noche (20:00-23:59)')" [ngStyle]="editableDays[3] ? {'background-color':nightRoutines[2][3]} : {'background-color':nightRoutines[2][3], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{nightRoutines[0][3]}}</h5>
                            <p class="card-text">{{nightRoutines[1][3]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[4] && openModal(modal, 'Viernes', 'Noche (20:00-23:59)')" [ngStyle]="editableDays[4] ? {'background-color':nightRoutines[2][4]} : {'background-color':nightRoutines[2][4], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{nightRoutines[0][4]}}</h5>
                            <p class="card-text">{{nightRoutines[1][4]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[5] && openModal(modal, 'Sábado', 'Noche (20:00-23:59)')" [ngStyle]="editableDays[5] ? {'background-color':nightRoutines[2][5]} : {'background-color':nightRoutines[2][5], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{nightRoutines[0][5]}}</h5>
                            <p class="card-text">{{nightRoutines[1][5]}}</p>
                            <br>
                        </div>
                    </div>

                    <div class="card" (click)="editableDays[6] && openModal(modal, 'Domingo', 'Noche (20:00-23:59)')" [ngStyle]="editableDays[6] ? {'background-color':nightRoutines[2][6]} : {'background-color':nightRoutines[2][6], 'opacity': 0.6}">
                        <div class="card-body">
                            <h5 class="card-title">{{nightRoutines[0][6]}}</h5>
                            <p class="card-text">{{nightRoutines[1][6]}}</p>
                            <br>
                        </div>
                    </div>

                </div>

            </div>
            <!------------------------------------End Page Content ------------------------------------------->

        </div>
    </div>

<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title">{{weekdayModal}} - {{dayTime}}</h4>
        <button type="button" class="btn btn-light" style="margin-right: 2px" (click)="modalRef.hide()">Cerrar</button>
    </div>
    <div class="modal-body">
        <div class="row mb-2">
            <div class="col-8">
                -Tipo de Rutina:
            </div>
            <div class="col-4">
                <select [(ngModel)]="selectedRoutine" class="form-select">
                    <option value="1">Piernas</option>
                    <option value="2">Glúteos</option>
                    <option value="3">Flexibilidad</option>
                    <option value="4">Abdominales</option>
                    <option value="5">Brazos</option>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                -Hora de inicio:
            </div>
            <div class="col-4">
                <timepicker
                    [(ngModel)]="startTime" 
                    (ngModelChange)="verifyTimeSelectedInModal()" 
                    [showMeridian]="false" 
                    [showSpinners]="false">
                </timepicker>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                -Hora de finalización
            </div>
            <div class="col-4">
                <timepicker 
                    [(ngModel)]="endTime" 
                    (ngModelChange)="verifyTimeSelectedInModal()" 
                    [showMeridian]="false" 
                    [showSpinners]="false">
                </timepicker>
            </div>
        </div>
       
    </div>
    <div class="modal-footer">
        <p>Las rutinas solo pueden tener una duración de entre 15 y 60 minutos.</p>
        <button type="button" class="btn btn-danger" (click)="deleteRoutine()" [disabled]="modalState == '' || modalState == undefined">Eliminar</button> 
        <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="!isTimeCorrect" (click)="checkRoutine()">Añadir</button>
    </div>
</ng-template>