<!-- Hola, {{user?.email}}  -->
<!-- El signo ? es para que no se compruebe si el usuario existe -->

<!-- <ul *ngIf="user$ | async as user; else login">
    <li><button class="btn btn-danger" (click)="onLogout()">Logout</button></li>
    <li>Hola, {{user?.email}}</li>
</ul>
<ng-template #login>
    <li>
        <a routerLink="/Iniciar_Sesion">Login</a>
    </li>
</ng-template> -->

<!-- <div *ngIf="!loading && user$ | async as user; else showLoading">
    <h4>Vista de Usuario Registrado (sin emplementar)</h4> 
    <p>Hola, {{user?.email}}</p>
    <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    <br><br><img width="150px" src="https://firebasestorage.googleapis.com/v0/b/routinext.appspot.com/o/profile_Images%2FXT_black.png?alt=media&token=ecb49987-1e49-40bd-a498-e1111086505f" alt="">
</div>

<ng-template #showLoading>
    <ngx-spinner 
        bdColor = #001a66
        size = "large" 
        color = "#fff900" 
        type = "square-jelly-box" 
        [fullScreen] = "true">
        <p style="color: white; padding-top: 30px;">Cargando Contenido</p>
    </ngx-spinner>
</ng-template> -->

<div *ngIf="!loading && user$ | async as user; else showLoading">
    <div class="d-flex">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <img src="assets/WebLogo.png">
                <hr class="separation_line">
            </div>

            <div class="menu">
                <a class="d-block text-light p-3 border-0"><i class="icon ion-md-walk lead mr-2"></i>Mi
                    Entrenamiento</a>
                <a class="d-block text-light p-3 border-0"><i class="ion-md-clipboard lead mr-2"></i>Mis Ejercicios</a>
                <a class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>Mi Progreso</a>
                <a class="d-block text-light p-3 border-0"><i class="ion-md-star lead mr-2"></i>Mis Retos</a>
                <a class="d-block text-light p-3 border-0"> <i class="icon ion-md-podium lead mr-2"></i>Mi
                    Puntuación</a>
                <a class="d-block text-light p-3 border-0"> <i class="icon ion-md-bulb lead mr-2"></i>Consejos</a>
            </div>
            <button class="btn btn-warning tutorial">Tutorial</button>
        </div>

        <div class="w-100">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <p class="title_header">Plan de Entrenamiento</p><br>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://firebasestorage.googleapis.com/v0/b/routinext.appspot.com/o/profile_Images%2Fdefault_profile_photo.png?alt=media&token=8d696e13-a7d6-47ca-bc9c-384d4e1c0719" class="img-fluid rounded-circle profile mr-2"
                                    alt="profile photo" />
                                Diego Hernández González
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <button class="dropdown-item">Mi perfil</button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item" (click)="onLogout()">Cerrar sesión</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <!------------------------------------ Weekdays ------------------------------------------->
            <div id="content" class="bg-grey w-100">

                <div class="container-fluid">
                    <div class="row my-5 mx-4">
                        <div class="col-10">
                            <p class="week_title">Semana</p>
                            <p class="week_value">{{firstDayOfWeek}} - {{lastDayOfWeek}}</p>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-warning mt-2">Imprimir <img width="24px" src="assets/registered/print.png" alt="print img"></button>
                        </div>
                    </div>
                </div>
                
                <div class="card-group mx-5 text-center">

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Monday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Lunes</h5>
                        </div>
                    </div>

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Tuesday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Martes</h5>
                        </div>
                    </div>

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Wednesday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Miércoles</h5>
                        </div>
                    </div>

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Thursday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Jueves</h5>
                        </div>
                    </div>

                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Friday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Viernes</h5>
                        </div>
                    </div>
                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Saturday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Sábado</h5>
                        </div>
                    </div>
                    <div class="card h-25 weekday" [ngStyle]="{'background-color':weekday === 'Sunday' ? '#ffc107' : '#d7d7d7' }">
                        <div class="card-body">
                            <h5 class="card-title">Domingo</h5>
                        </div>
                    </div>

                </div><br>
                
                <!------------------------------------ Mornings ------------------------------------------->
                <div class="card-group mornings mx-5 text-center">

                    <!-- <div class="card"> -->
                    <div class="card" (click)="openModal(modal, 1)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                            <cite title="Source Title" style="float: left">Mañana</cite>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                </div>

                <!------------------------------------ Afternoons ------------------------------------------->

                <div class="card-group afternoons mx-5 text-center">

                    <div class="card" (click)="openModal(modal, 2)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                            <cite title="Source Title" style="float: left">Tarde</cite>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 2)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 2)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 2)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 2)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 2)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 2)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                </div>

                <!------------------------------------ Nights ------------------------------------------->

                <div class="card-group nights mx-5 text-center">

                    <div class="card" (click)="openModal(modal, 3)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                            <cite title="Source Title" style="float: left">Noche</cite>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 3)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 3)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 3)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 3)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 3)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                    <div class="card" (click)="openModal(modal, 3)">
                        <div class="card-body">
                            <h5 class="card-title">Flexibilidad</h5>
                            <p class="card-text">(10:30-11:30)</p>
                        </div>
                    </div>

                </div>

            </div>
            <!------------------------------------End Page Content ------------------------------------------->

        </div>
    </div>
</div>

<ng-template #showLoading>
    <ngx-spinner bdColor=rgba(1,23,111,0.8) size="large" color="#ffc107" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white; padding-top: 30px;">Cargando Contenido</p>
    </ngx-spinner>
</ng-template>

<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title">Lunes - {{timeDay}}</h4>
        <button type="button" class="btn btn-light" style="margin-right: 2px" (click)="modalRef.hide()">Cerrar</button>
    </div>
    <div class="modal-body">
        <div class="row mb-2">
            <div class="col-8">
                -Tipo de Rutina:
            </div>
            <div class="col-4">
                <select class="form-select">
                    <option selected value="1">Piernas</option>
                    <option value="2">Glúteos</option>
                    <option value="3">Flexibilidad</option>
                    <option value="4">Abdominales</option>
                    <option value="5">Brazos</option>
                  </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                -Hora de inicio:
            </div>
            <div class="col-4">
                <timepicker 
                    [(ngModel)]="startTime" 
                    (ngModelChange)="verifyTime()" 
                    [showMeridian]="false" 
                    [showSpinners]="false">
                </timepicker>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                -Hora de finalización
            </div>
            <div class="col-4">
                <timepicker 
                    [(ngModel)]="endTime" 
                    (ngModelChange)="verifyTime()" 
                    [showMeridian]="false" 
                    [showSpinners]="false">
                </timepicker>
            </div>
        </div>
       
    </div>
    <div class="modal-footer">
        <p>Las rutinas solo pueden tener una duración máxima de 1 hora.</p>
        <button type="button" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="!isTimeCorrect">Añadir</button>
    </div>
</ng-template>