/* Colores Cards;

    background-color: #ffa749 Glúteos
    background-color: #49a9ff Piernas
    background-color: #d449ff Flexibilidad
    background-color: #34b852 Brazos
    background-color: #fc6666 Abdominales

*/


::-webkit-scrollbar {
    display: none;
}

#sidebar-container > div.menu > a:nth-child(1) {
    color: orange !important;
}

#sidebar-container > div.menu > a {
    text-decoration: none;
}

#sidebar-container > div.menu > a > i {
    padding-right: 12px;
}

.bg-primary { 
    background-color: #002959 !important; 
}

.bg-light { 
    background-color: #fff !important; 
}

.bg-grey { 
    background-color: #efefef !important; 
}

.bg-mix { 
    background: linear-gradient(180deg, #fff 50%, #efefef 0); 
}

.btn-primary {
    background-color: #002959;
    border: 0;
}

.btn-primary:hover {
    background-color: #002959;
}

#sidebar-container {
    min-height: 100%;
}
  
#sidebar-container .logo {
    padding: 15px 0px 30px 15px;
    width: 255px;
}

#sidebar-container .logo img {
    width: 245px;
}
  
#sidebar-container .menu {
    width: 18rem;
    font-size: 20px;
}

#sidebar-container .menu a:hover {
    font-size: 22px;
    color: orange!important;
}

#content {
    overflow-y: auto;
    height: 120vh;
}

.profile {
    max-width: 55px;
}

.nav-link.text-dark {
    font-size: 20px;
}

.stat {
    border-right: 1px solid #efefef;
}

.title_header {
    font-size: 24px;
    display: contents;
    font-weight: bold;
    color: #002959;
}

.separation_line {
    background-color: rgb(255 255 255);
    padding-bottom: 2px;
    border-radius: 10px;
    margin-top: 18px;
}

.btn.btn-warning {
    font-size: 20px;
}

.btn.btn-warning.tutorial{
    margin: 80px 94px;
}

div > div.w-100 > nav {
    padding: 10px 15px;
}

div > div.w-100 > nav > div.collapse.navbar-collapse > ul > li > div {
    margin-left: 170px;
}

/* CONTENT INSIDE */

#content > div.container-fluid > div > div.col-5 > p.week_title {
    font-size: 26px;
    text-decoration: underline;
    color: #002959;
}

#content > div.container-fluid > div > div.col-5 > p.week_value {
    font-size: 20px;
}

#content > button {
    margin: 25px 0 50px 75%;
    padding: 12px 30px;
    font-size: 18px;
}

#content > button > img {
    margin-left: 5px;
}

#content > div.card-group {
    margin-top: 12px;
}

#content > .card-group.mornings .card .card-body, 
#content > .card-group.afternoons .card .card-body, 
#content > .card-group.nights .card .card-body {
    margin-top: 40px;
}

#content > div > div > div {
    padding: 0.8rem;
}

#content > div.card-group.mornings .card:hover, 
#content > div.card-group.afternoons .card:hover, 
#content > div.card-group.nights .card:hover {
    opacity: 0.8;
    cursor: pointer;
}

.modal-header {
    border-bottom-color: black;
    background-color: #ffc107;
}

.modal-body {
    font-size: 17px
}

.modal-footer {
    border-top-color: black;
}

.modal-footer p {
    width: 61%;
}

#content > div.container-fluid > div > div.col-2 > button {
    padding: 12px;
    font-size: 18px;
}