.separation_line {
	height: 12px;
	background-color:  rgb(27 27 27);
	padding-bottom: 12px;
}

footer {
	background-color: black;
	font-size: 16px;
}

footer .container.text-left.text-md-left {
	width:1000px;
	margin: 50px auto;
}

footer .font-weight-bold.text-uppercase.mb-4.text-secondary {
	font-size: 18px;
}

footer ul li p a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

footer ul li p a:hover {
	font-size: 18px;
	color:rgb(141, 139, 139)
}

.bottom_bar {
	height: 60px;
	background-color: rgb(255, 10, 10);
	margin-top: 30px;
}

.bottom_bar .footer-copyright {
	padding-top: 18px;
	font-size: 15px;
	color: white;
}	

footer ul {
	padding: 5px;
}

footer ul li p a.twitter,
footer ul li p a.facebook,
footer ul li p a.instagram {
	padding-bottom: 12px;
}