
<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <a routerLink="/" target="_blank"><img src="assets/WebLogo.png" ></a>
            <hr class="separation_line">
        </div>

        <div class="menu">
            <a class="d-block text-light p-3 border-0" routerLink="/Plan_De_Entrenamiento"><i class="icon ion-md-walk lead mr-2"></i>Mi
                Entrenamiento</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Ejercicios"><i class="ion-md-clipboard lead mr-2"></i>Mis Ejercicios</a>
            <!-- <a class="d-block text-light p-3 border-0" routerLink="/Progreso"><i class="icon ion-md-stats lead mr-2"></i>Mi Progreso</a> -->
            <a class="d-block text-light p-3 border-0" routerLink="/Retos"><i class="ion-md-star lead mr-2"></i>Mis Retos</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Puntuación"> <i class="icon ion-md-podium lead mr-2"></i>Mi
                Puntuación</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Consejos"> <i class="icon ion-md-bulb lead mr-2"></i>Consejos</a>
        </div>
        <button class="btn btn-warning tutorial">Tutorial</button>
    </div>

    <div class="w-100">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <p class="title_header">Mi Perfil de Usuario</p><br>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="userImg" class="img-fluid rounded profile mr-2" >
                            {{completeUserName}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <button class="dropdown-item" routerLink="/Perfil">Mi perfil</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" (click)="onLogout()">Cerrar sesión</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="bg-grey w-100 text-center">
           
            <div class="container-fluid">
                <div class="row my-5 ml-5">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body mx-auto">
                                <h5 class="card-title">Foto de Perfil</h5><hr>
                                <img class="card-img-top" [src]="userImg">
                                <img src="assets/registered/pedestal.png" alt="pedestal">
                            </div>
                        </div><br>
                        <p>Puntuación Récord: <span style="font-weight: normal;">{{max_score}} puntos.</span></p> 
                    </div>
                    <div class="col-2">
                        <p>Nombre:</p>
                        <p>Apellidos:</p>
                        <p>Correo Personal:</p>
                        <p>Edad:</p>
                        <button class="btn btn-primary" routerLink="/Editar_Perfil">Editar Datos</button>
                    </div>
                    <div class="col-3">
                        <p>{{name}}</p>
                        <p>{{surname}}</p>
                        <p>{{email}}</p>
                        <p>{{age}}</p>
                        <button class="btn change_password" routerLink="/Nueva_Contraseña">Cambiar Contraseña</button>
                    </div>
                    <div class="col-3">
                        <dl>
                            <div class="box ">
                                <dt>Ranking</dt>
                                    <dd>{{userRanking}}º Puesto</dd>
                            </div>
                            <div class="box ">
                                <dt>Puntuación</dt>
                                    <dd>{{score}}</dd>
                            </div>
                            <div class="box ">
                                <dt>Rutinas Completadas</dt>
                                    <dd>{{routines}}</dd>
                            </div>
                            <div class="box ">
                                <dt>Ejercicios Realizados</dt>
                                    <dd>{{exercises}}</dd>
                            </div>
                            <div class="box ">
                                <dt>Retos Completados</dt>
                                    <dd>{{challenges}}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>