<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <a><img src="assets/WebLogo.png" ></a>
        </div>
    </div>

    <div class="w-100 ml-5">
        <div class="container-fluid">
            <p class="title_header">Rutina de Piernas</p>
            <button class="btn btn-warning" style="font-weight: bold;">Finalizar Entrenamiento<img width="25px" src="assets/registered/salir.png" alt="salir"></button>
        </div>
        
    </div>
</div>

<div id="content" class="bg-grey">

    <app-routine-content></app-routine-content>

</div>