<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <a routerLink="/" target="_blank"><img src="assets/WebLogo.png"></a>
            <hr class="separation_line">
        </div>

        <div class="menu">
            <a class="d-block text-light p-3 border-0" routerLink="/Plan_De_Entrenamiento"><i class="icon ion-md-walk lead mr-2"></i>Mi Entrenamiento</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Ejercicios"><i class="ion-md-clipboard lead mr-1"></i>Mis Ejercicios</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Retos"><i class="ion-md-star lead mr-1"></i>Mis Retos</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Puntuación"><i class="icon ion-md-podium"></i>Mi Puntuación</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Consejos"><i class="icon ion-md-bulb lead mr-2"></i>Consejos</a>
            <a class="d-block text-light p-3 border-0" routerLink="/Comenzar_Rutina"><i class="icon ion-md-ribbon lead mr-1"></i>Comenzar Rutina</a>
        </div>
        <button class="btn btn-warning tutorial">Tutorial</button>
    </div>

    <div class="w-100">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <p class="title_header">Sistema de Puntuación</p><br>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="userImg" class="img-fluid rounded profile mr-2">
                            {{completeUserName}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <button class="dropdown-item" routerLink="/Perfil">Mi perfil</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" (click)="onLogout()">Cerrar sesión</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="bg-grey w-100 text-center">

            <div class="container-fluid">
                <div class="row my-5 ml-5">
                    <div class="col-6">
                        <ul>
                            <li><p>Tu puntuación actual es de {{userScore}} puntos.</p></li>
                            <li *ngIf="scoreAchieved > 0"><p>Esta semana estás obteniendo <span style="color: green">+{{scoreAchieved}}</span> puntos al realizar {{routinesDone}}/{{totalRoutines}} rutinas.</p></li>
                            <li *ngIf="scoreAchieved < 0"><p>Esta semana estás obteniendo <span style="color: red">{{scoreAchieved}}</span> puntos al realizar {{routinesDone}}/{{totalRoutines}} rutinas.</p></li>
                            <li *ngIf="scoreAchieved == 0"><p>Esta semana estás obteniendo {{scoreAchieved}} puntos al realizar {{routinesDone}}/{{totalRoutines}} rutinas.</p></li>
                            <li><p><span style="margin-bottom: 30px">Rutinas de la semana</span>: {{totalRoutines}}</p></li>
                            <ul>
                                <!-- Ordenado por Lunes -->
                                <div *ngFor="let routine of routines.constructor(totalRoutines); let i = index">
                                    <div *ngIf="routines[i][0] == 'Lunes'">
                                        <li>
                                            <p *ngIf="routines[i][3] == 'Y'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: green">+5</span> puntos.</p>
                                            <p *ngIf="routines[i][3] == 'OK'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: red">-5</span> puntos.<br> (No realizada)</p> 
                                            <p *ngIf="routines[i][3] == 'N'" style="opacity: 0.3"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}}</p> 
                                        </li>
                                    </div>
                                </div>
                                <!-- Ordenado por Martes -->
                                <div *ngFor="let routine of routines.constructor(totalRoutines); let i = index">
                                    <div *ngIf="routines[i][0] == 'Martes'">
                                        <li>
                                            <p *ngIf="routines[i][3] == 'Y'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: green">+5</span> puntos.</p>
                                            <p *ngIf="routines[i][3] == 'OK'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: red">-5</span> puntos.<br> (No realizada)</p> 
                                            <p *ngIf="routines[i][3] == 'N'" style="opacity: 0.3"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}}</p> 
                                        </li>
                                    </div>
                                </div>
                                <!-- Ordenado por Miércoles -->
                                <div *ngFor="let routine of routines.constructor(totalRoutines); let i = index">
                                    <div *ngIf="routines[i][0] == 'Miércoles'">
                                        <li>
                                            <p *ngIf="routines[i][3] == 'Y'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: green">+5</span> puntos.</p>
                                            <p *ngIf="routines[i][3] == 'OK'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: red">-5</span> puntos.<br> (No realizada)</p> 
                                            <p *ngIf="routines[i][3] == 'N'" style="opacity: 0.3"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}}</p> 
                                        </li>
                                    </div>
                                </div>
                                <!-- Ordenado por Jueves -->
                                <div *ngFor="let routine of routines.constructor(totalRoutines); let i = index">
                                    <div *ngIf="routines[i][0] == 'Jueves'">
                                        <li>
                                            <p *ngIf="routines[i][3] == 'Y'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: green">+5</span> puntos.</p>
                                            <p *ngIf="routines[i][3] == 'OK'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: red">-5</span> puntos.<br> (No realizada)</p> 
                                            <p *ngIf="routines[i][3] == 'N'" style="opacity: 0.3"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}}</p> 
                                        </li>
                                    </div>
                                </div>
                                <!-- Ordenado por Viernes -->
                                <div *ngFor="let routine of routines.constructor(totalRoutines); let i = index">
                                    <div *ngIf="routines[i][0] == 'Viernes'">
                                        <li>
                                            <p *ngIf="routines[i][3] == 'Y'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: green">+5</span> puntos.</p>
                                            <p *ngIf="routines[i][3] == 'OK'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: red">-5</span> puntos.<br> (No realizada)</p> 
                                            <p *ngIf="routines[i][3] == 'N'" style="opacity: 0.3"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}}</p> 
                                        </li>
                                    </div>
                                </div>
                                <!-- Ordenado por Sábado -->
                                <div *ngFor="let routine of routines.constructor(totalRoutines); let i = index">
                                    <div *ngIf="routines[i][0] == 'Sábado'">
                                        <li>
                                            <p *ngIf="routines[i][3] == 'Y'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: green">+5</span> puntos.</p>
                                            <p *ngIf="routines[i][3] == 'OK'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: red">-5</span> puntos.<br> (No realizada)</p> 
                                            <p *ngIf="routines[i][3] == 'N'" style="opacity: 0.3"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}}</p> 
                                        </li>
                                    </div>
                                </div>
                                <!-- Ordenado por Domingo -->
                                <div *ngFor="let routine of routines.constructor(totalRoutines); let i = index">
                                    <div *ngIf="routines[i][0] == 'Domingo'">
                                        <li>
                                            <p *ngIf="routines[i][3] == 'Y'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: green">+5</span> puntos.</p>
                                            <p *ngIf="routines[i][3] == 'OK'"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}} -> <span style="color: red">-5</span> puntos.<br> (No realizada)</p> 
                                            <p *ngIf="routines[i][3] == 'N'" style="opacity: 0.3"><span style="text-decoration: underline">{{routines[i][0]}}</span>: {{routines[i][1]}} {{routines[i][2]}}</p> 
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </ul>
                        <a href="/FAQs_Contacto#score" target="_blank" style="font-size: 20px; float: left; margin-top: 30px;">¿Cómo funciona nuestro sistema de puntuación?</a>
                    </div>
                    <div class="col-6">
                        <p>Ranking</p>
                        <div id="tabla">
                            <table class="mx-auto" id="customers">
                                <tr>
                                <th>Nº</th>
                                <th>Usuario</th>
                                <th>Puntuación</th>
                                </tr>
                                <tr *ngFor="let userData of usersData; let i=index">
                                    <th *ngIf="userData[2] == userEmail"><span style="width: 35px; height: 35px" class="iconify" data-icon="openmoji:crown" data-inline="false"></span></th>
                                    <th *ngIf="userData[2] != userEmail">{{i+1}}</th>
                                    <th>{{userData[0]}}</th>
                                    <th>{{userData[1]}}</th>
                                </tr>
                                <!-- <tr>
                                    <th></th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr> -->
                                <!-- <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Juan</th>
                                    <th>25</th>
                                </tr> -->
                                <p style="margin-top: 45px">Puesto Actual: {{userRanking}}</p>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>